/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url(../images/tweeds.jpg) fixed;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#container{
	width: 60%;
	margin: 20px auto;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 15px black;
	background: #ededed;
}
#name{
	font-size: 24px;
	font-weight: lighter;
	padding-bottom: 0;
}
h1{
	font-size: 40px;
	font-family: calibri;
	display: inline-block;
	margin: 0;
}
h2{
	padding: 10px;
	font-size: 28px;
	font-family: source sans pro;
	color: #1f282f;
}
h3{
	padding: 10px;
	font-size: 22px;
	font-family: calibri;
	/*color: #efefef;
	background: #445759;*/
	text-align: center;
}
h4{
	padding: 10px;
	font-size: 18px;
	font-family: calibri;
}
p{
	/*padding: 10px;*/
	font-size: 18px;
	font-family: source sans pro;
	/*color: #292d28;*/
	display: inline-block;
}
a{
	padding: 10px;
	text-decoration: none;
	font-size: 16px;
	font-family: calibri;
/*	color: #577377;*/
}
/*.tests, .results{
	width: 50%;
	padding: 20px 0;
	margin-bottom: 14px; 
	background: #efefef;
	display: inline-block;
	float: left;
}*/
table{
	margin: 0 auto;
}
th, td{
	border: 1px solid black;
	padding: 20px;
	font-family: calibri;
}
th{
	font-family: calibri;
	font-size: 18px;
	font-weight: bold;
	color: #292d28; 
}
td{
	width: 318.333px;
}
ul li{
	padding: 8px 0;
}
ul li a{
	color: #577377;
}
#header{
	background: #1f262c;
}
#ctaLinks{
	display: inline-block;
	float: right;
	margin: 20px;
}
#ctaLinks > p{
	color: #02a4e2;
}
#logo{
	margin: 20px 10px;
	display: inline-block;
}
#brand{
	color: #a3ab94;
	font-size: 30px;
	margin-top: 20px;
	font-variant: small-caps; 
}
#searchForm{
	display: inline-block;
	width: 100%;
	/*margin-top: 40px;*/
/*	padding-left: 50px;*/
}
.numbDisplay{
	color: #f3732a;
	margin-top: 10px;
	padding-left: 20px;
}
label{
	color: #a3ab94;
	font-family: source sans pro;
	font-size: 20px;
	padding: 5px;
}
/*Search Bar Styling --start--*/
#searchInput{
	margin: 0;
	padding: 5px 15px;
	width: 89.3%;
	font-family: calibri, Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	display: inline-block;
	float: left;
}
#search-btn{
	margin: 0;
	padding: 5px 15px;
	font-family: calibri, Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 37px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ededed;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	float: left;
}
.clear{
	clear: both;
}
/*Search Bar Styling --end--*/
.feature{
	padding-bottom: 139px;
}
.feature > h2{
	font-size: 36px;
	color: #a3ab94;
	padding-top: 100px;
	margin-bottom: 40px;
}
.blueBtn{
	font-family: calibri;
	font-size: 24px;
	color: #ededed;
	padding: 10px 20px;
	margin: 10px auto;
	border: solid 1px #c96532; border-right:0px;
	/*border: solid 1px #0076a3; border-right:0px;*/
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2c033), to(#f3732a));
	background: -moz-linear-gradient(top,  #e2c033,  #f3732a);
	/*background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);*/
	display: block;
}
.browse{
	background: rgba(0,0,0,.5);
	height: 100px;
	margin-top: 55px;
}
.browse a{
	font-size: 20px;
	text-align: center;
}
.center{
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}
.results{
	margin: 20px auto;
	background: url(../images/soft-green.jpg);
	padding: 20px;
	text-align: center;
	max-height: 400px;
	overflow: hidden;
}
.results  p{

	text-align: left;
	padding-bottom: 20px;
}
footer{
	text-align: center;
	background: #1f262c;
	padding: 20px;
	clear: both;
	margin: 0 auto;
}
footer p{
	font-family: source sans pro;
	color: #a3ab94;
}
.stickyFooter{
	min-height: 500px;
}