/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #577377;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.pRed{
	color: #363825;
}
.pOrange{
	background: #3d4a4c;
	color: #3d4a4c;
	padding: 20px;
}
nav{
	background: #363825;
}
#container{
	width: 60%;
	margin: 20px auto;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 15px black;
	background: #ededed;
}
#name{
	font-size: 24px;
	font-weight: lighter;
	padding-bottom: 0;
}
h1{
	background: #292d28;
	padding: 20px;
	font-size: 40px;
	font-family: calibri;
	color: #ededed;
	border-radius: 5px 5px 0 0;
}
h2{
	padding: 10px;
	font-size: 28px;
	font-family: calibri;
	color: #292d28;
}
h3{
	padding: 10px;
	font-size: 22px;
	font-family: calibri;
	color: #efefef;
	background: #445759;
	text-align: center;
}
h4{
	padding: 10px;
	font-size: 18px;
	font-family: calibri;
}
p{
	padding: 10px;
	font-size: 18px;
	font-family: calibri;
	color: #292d28;
}
a{
	padding: 10px;
	text-decoration: none;
	font-size: 16px;
	font-family: calibri;
	color: #577377;
}
.tests, .results{
	width: 50%;
	padding: 20px 0;
	margin-bottom: 14px; 
	background: #efefef;
	display: inline-block;
	float: left;
}
table{
	margin: 0 auto;
}
th, td{
	border: 1px solid black;
	padding: 20px;
	font-family: calibri;
}
th{
	font-family: calibri;
	font-size: 18px;
	font-weight: bold;
	color: #292d28; 
}
td{
	width: 318.333px;
}
ul li{
	padding: 8px 0;
}
ul li a{
	color: #577377;

}
.top-nav h1{
	display: inline-block;
}
footer{
	text-align: center;
	background: #363825;
	padding: 20px;
	clear: both;
	margin: 0 auto;
}
footer p{
	font-family: calibri;
	color: #efefef;
}